.search {
    z-index: 999;
    background: rgb(19, 183, 207);
    width: 450px;
    height: 50px;
    position: fixed;
    border-radius: 0 0 10px 0px;
    top: 70px;
}

.search .menu-box {
    width: 90%;
    margin: 0 auto;
    line-height: 50px;
}

.search .menu-box label {
    width: 400px;
    height: 40px;
    font-size: 20px;
    margin-right: 10px;
}

.search .menu-box input {
    width: 20px;
    height: 20px;

}